{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'css/addressbook.css' %}" />
	</head>
	<body>
		<div class="page-header">
			
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href='{% url "index" %}'>Address Book</a>
				<div class="navbar-collapse">
				<ul class="navbar-nav" id="navbarNavDropdown">
					<li class="nav-item"><a class="nav-link" href="{% url 'index'%}">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'add_person'%}">Add Person</a></li>
				</ul>
				</div>
			</nav>
			    {% if user.is_authenticated %}
			      Hi {{ user.username }}!
			      <a href="{% url 'logout' %}">logout</a>
			    {% endif %}
		</div>
		<div class="content container">
			{% block content %}
			{% endblock %}
		</div>
		{% block javascript %}
		{% endblock %}
	</body>
</html>