{% extends 'addressbook/base.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<input id="search" type="text" placeholder="Search..." name="filter" />
		<label>page count</label>
		<select id="pageCount">
			<option value='5'>5</option>
			<option value='10'>10</option>
			<option value='20'>20</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-sm-12" id="person-table">
	</div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Person from Address Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete: </p>
      </div>
      <div class="modal-footer">
      	<form id='deleteForm' method="POST">
      		{% csrf_token %}
        	<button class="btn btn-danger">Delete</button>
   		</form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%  endblock %}
{% block javascript %}
<script>
	var person = (function() {
		const deleteForm = document.getElementById('deleteForm');
		this.pagecount = 5;
		this.page = 0;
		this.filter = '';
		return {
			setPageCount(pg){
				pagecount = pg;
			},
			setFilter(filt){
				filter = filt;
			},
			delete: function(url) {
				$('#myModal').modal('show');
				if(deleteForm){
					deleteForm.removeAttribute("action");
					deleteForm.setAttribute("action", url)
				}
			},
			getPersonList: function(){
				return $.ajax({
					method: 'GET',
					url: `personlist?page=${page}&pagecount=${pagecount}&filter=${filter}`
				}).done(function(data){
					$('#person-table').html(data);
					return data;
				})
			}
		}
	})();
	$(document).ready(function(){
		$.ajax({
			method: 'GET',
			url: '{% url "person_table"%}'
		}).done(function(data){
			$('#person-table').html(data);
		})
		$('#pageCount').change(function(){
			person.setPageCount($(this).val());
			person.getPersonList();
		})
		$('#search').keyup(function() {
			let filter = $(this).val() ? $(this).val() : '';
			person.setFilter(filter);
			person.getPersonList();
		});
	});
</script>
{% endblock %}